@page
@model WebApp.Pages_Books.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.PublishingYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.PublishingYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.AuthoredYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.AuthoredYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.WordCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.WordCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Summary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Summary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Language)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Language.LanguageName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Publisher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Publisher.PublisherName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Book.BookId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
