@page
@model WebApp.Pages_Books.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Book.BookId" />
            <div class="form-group">
                <label asp-for="Book.Title" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.PublishingYear" class="control-label"></label>
                <input asp-for="Book.PublishingYear" class="form-control" />
                <span asp-validation-for="Book.PublishingYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.AuthoredYear" class="control-label"></label>
                <input asp-for="Book.AuthoredYear" class="form-control" />
                <span asp-validation-for="Book.AuthoredYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.WordCount" class="control-label"></label>
                <input asp-for="Book.WordCount" class="form-control" />
                <span asp-validation-for="Book.WordCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Summary" class="control-label"></label>
                <input asp-for="Book.Summary" class="form-control" />
                <span asp-validation-for="Book.Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.LanguageId" class="control-label"></label>
                <select asp-for="Book.LanguageId" class="form-control" asp-items="ViewBag.LanguageId"></select>
                <span asp-validation-for="Book.LanguageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.PublisherId" class="control-label"></label>
                <select asp-for="Book.PublisherId" class="form-control" asp-items="ViewBag.PublisherId"></select>
                <span asp-validation-for="Book.PublisherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
