@page
@model WebApp.Pages_Comments.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Comment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.CommentText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment.CommentText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.Book)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment.Book.Title)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Comment.CommentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
