@page
@model WebApp.Pages_BookAuthors.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BookAuthor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookAuthor.BookAuthorId" />
            <div class="form-group">
                <label asp-for="BookAuthor.BookId" class="control-label"></label>
                <select asp-for="BookAuthor.BookId" class="form-control" asp-items="ViewBag.BookId"></select>
                <span asp-validation-for="BookAuthor.BookId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookAuthor.AuthorId" class="control-label"></label>
                <select asp-for="BookAuthor.AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
                <span asp-validation-for="BookAuthor.AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
