@page
@model WebApp.Pages_BookAuthors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookAuthor[0].Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookAuthor[0].Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BookAuthor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FirstName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BookAuthorId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BookAuthorId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BookAuthorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
