@page
@model WebApp.Pages_Languages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Language[0].LanguageName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Language) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LanguageName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.LanguageId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.LanguageId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.LanguageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
